extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/shop.css")

block content
  .title Products

  if prods && prods.length > 0
    .grid
      each product in prods
        .card
          img.image(src=product.imageURL)
          .content
            .name= product.name
            .price ₹#{product.price}
            .description= product.description

            .actions
              button.btn-card.edit Edit Product
              form(action="/admin/deleteProduct" method="POST")
                input(type="hidden", name="name", value=product.name)
                button.btn-card.delete Delete Product
  else
    .container
      .empty-state
        .icon 📦
        h2 No Products Found
        p Looks like your shop is empty. Start by adding a product.